#header img {
	margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

#main_box {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#main_box h1 {
	color: #e2e2e2;
}

#footer {
	text-align: center;
}

.gallery {
	margin: auto;
}

body {
	background-color: pink;
}